html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 100% auto;
}
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgba(77, 77, 77, 0.089);
  padding: 10px;
  display: flex;
  align-self: stretch;
  justify-content: center;
}

.ist {
  width: 50px; height: 50px;
  margin-left: 30%;
  color: rgb(218, 89, 66);
}


.texto{
  font-weight: 500;
  margin: 9px 0px 15px 0px;
  font-family: "Poppins", sans serif;
  color: rgb(0, 0, 0);
  flex-grow: 1;
}

.texto2{
  font-size: smaller;
  margin: 15px 0px 15px 0px;
  font-family: "Poppins", sans serif;
  margin-right: 20px;
  color: rgb(0, 0, 0);
}


